WpfApp3/Connected Services/GetNotification/ruzdiGetNotificationPackageStateService_v1_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://fciit.ru/eis2/ruzdi/getNotificationPackageStateService/v1_0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fciit.ru/eis2/ruzdi/getNotificationPackageStateService/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="getNotificationPackageStateRequest" type="tns:getNotificationPackageStateRequestType" />
  <xsd:element name="getNotificationPackageStateResponse" type="tns:getNotificationPackageStateResponseType" />
  <xsd:complexType name="getNotificationPackageStateRequestType">
    <xsd:sequence>
      <xsd:element name="packageId" type="tns:guidType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getNotificationPackageStateResponseType">
    <xsd:sequence>
      <xsd:element name="packageState" type="tns:packageStateType" />
      <xsd:element minOccurs="0" name="pledgeNotificationStatePackage" type="tns:pledgeNotificationStatePackageType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pledgeNotificationStatePackageType">
    <xsd:annotation>
      <xsd:documentation>
?????????????????? ???????????? ???? ???????????? ??????????????????????. packageId - ???????????????????? ?????????????????????????? ???????????? (guid) uip - ???????????????????? ?????????????????????????? ??????????????????????. ?? ???????????? ???????????????? ???????????? ?? ?????????????? ???????????????? 0.
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="packageId" type="tns:guidType" />
      <xsd:element name="uip" type="tns:uipType" />
      <xsd:element minOccurs="0" name="packageStateCode" type="tns:StateType" />
      <xsd:element minOccurs="0" name="pledgeNotificationStateList" type="tns:pledgeNotificationStateListType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pledgeNotificationStateListType">
    <xsd:annotation>
      <xsd:documentation>
?????????? ???????????????????? ??????????????/???????????????? ???? ?????????????? ??????????????????????. ?? ???????????????????????? ?? ???????????????????????? ???????????????????????? ???????????????????? ?????????????????????? ?? ???????????? 20
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="20" name="pledgeNotificationStateListElement" type="tns:pledgeNotificationStateListElementType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pledgeNotificationStateListElementType">
    <xsd:annotation>
      <xsd:documentation>
?????????????????? ???????????????? ??????????????????????. notificationId - id ?????????????????????? documentAttachment - ???????????? ???? MTOM ???????????????? ?????????????? ????????????-???????????????????? ?? ???????????????? notificationState - ???????????????? ???????????? ?????????????? ?????????????????? ?????? ????????????.
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="notificationId" type="tns:guidType" />
      <xsd:choice>
        <xsd:element name="documentAndSignature" type="tns:documentAndSignatureType" />
        <xsd:element name="notificationStateCode" type="tns:StateType" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="guidType">
    <xsd:annotation>
      <xsd:documentation>
???????????????????? ??????????????????????????. http://tools.ietf.org/html/rfc4122
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="uipType">
    <xsd:annotation>
      <xsd:documentation>
???????????????????? 12 ?? ?????????????????? ?????????? ???????????? ???? 19 ???????? 2012 ???????? N 383-?? "?? ???????????????? ?????????????????????????? ???????????????? ???????????????? ??????????????"
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\d]{1}[\d]{15}[\d\D]{9}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="documentTypeType">
    <xsd:annotation>
      <xsd:documentation>
?????? ????????????-?????????????????? ???? ????????????????: Notification - ??????????????????????. ???????????? ?????????????????????????????? ???????????????? PledgeNotificationToNotary ???? ?????????? PledgeRegistry_v2.1.1_public.xsd RegistrationCertificate - ??????????????????????????, ?????????????? RegistrationCertificate ???? ?????????? PledgeRegistry_v2.1.1_public.xsd RegistrationRejection - ??????????
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Notification" />
      <xsd:enumeration value="RegistrationCertificate" />
      <xsd:enumeration value="RegistrationRejection" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="documentAndSignatureType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="documentType" type="tns:documentTypeType" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="packageStateType">
    <xsd:annotation>
      <xsd:documentation>
???????????? ?????????????????? ???????????? RECIEVED - ?????????????? INCONTROL - ???? ???????????????? PAYMENTWAITING - ???????????????? ???????????? FAULT - ???????????????? ???? ???????????????? INWORK - ?? ???????????? RESULT - ??????????????????
</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="RECIEVED" />
      <xsd:enumeration value="INCONTROL" />
      <xsd:enumeration value="PAYMENTWAITING" />
      <xsd:enumeration value="FAULT" />
      <xsd:enumeration value="INWORK" />
      <xsd:enumeration value="RESULT" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="StateType">
    <xsd:annotation>
      <xsd:documentation>
???????? ????????????. 0 - ?????????????? ????????????. 2x - ???????????????? ?????????????????????? ?????????????? 3?? - ???????????????? ???????????? ?????????????????? ?????????????????????? 99 - ?????????????????? ????????????
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>