WpfApp3/Connected Services/UploadNotification/ruzdiUploadNotificationPackageService_v1_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://fciit.ru/eis2/ruzdi/uploadNotificationPackageService/v1_0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fciit.ru/eis2/ruzdi/uploadNotificationPackageService/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="uploadNotificationPackageRequest" type="tns:uploadNotificationPackageRequestType" />
  <xsd:element name="uploadNotificationPackageResponse" type="tns:uploadNotificationPackageResponseType" />
  <xsd:element name="pledgeNotificationPackage" type="tns:pledgeNotificationPackageType" />
  <xsd:complexType name="uploadNotificationPackageRequestType">
    <xsd:sequence>
      <xsd:element ref="tns:pledgeNotificationPackage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="uploadNotificationPackageResponseType">
    <xsd:annotation>
      <xsd:documentation>
                ???????????? ???? ???????????? ???????????? ??????????????????????.
                registrationId -  ?????????????????????????????? ?????????????????????????? ???????????? ?? ?????????????? ?? ???????????? ?????????????????? ????????????
                packageStateCode - ???????????? ??????????????????
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="registrationId" type="tns:guidType" />
      <xsd:element name="packageStateCode" type="tns:StateType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pledgeNotificationPackageType">
    <xsd:annotation>
      <xsd:documentation>
                ?????????? ??????????????????????.
                packageId -  ???????????????????? ?????????????????????????? ???????????? (guid)
                uip - ???????????????????? ?????????????????????????? ??????????????????????. ?? ???????????? ???????????????? ???????????? ?? ?????????????? ???? ????????????????????.
                senderType - ?????? ??????????????????
                pledgeNotificationList - ???????????? ???????????? ??????????????????????.
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="packageId" type="tns:guidType" />
      <xsd:element minOccurs="0" name="uip" type="tns:uipType" />
      <xsd:element name="senderType" type="tns:senderTypeType" />
      <xsd:element name="pledgeNotificationList" type="tns:pledgeNotificationListType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pledgeNotificationListType">
    <xsd:annotation>
      <xsd:documentation>
                ?????????? ??????????????????????. ?? ???????????????????????? ?? ???????????????????????? ???????????????????????? ???????????????????? ?????????????????????? ?? ???????????? 20
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="20" name="pledgeNotificationListElement" type="tns:pledgeNotificationListElementType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="pledgeNotificationListElementType">
    <xsd:annotation>
      <xsd:documentation>?????????????????? ???????????????? ??????????????????????.
                notificationId - id ??????????????????????
                documentAndSignature - ???????????? ???? MTOM ???????????????? zip ???????????? ????????????-?????????????????? ?? ??????????????.
                ???????? ????????????-?????????????????? ???? ?????????? PledgeRegistry_v2.1.24_public.xsd, ?????????????? ?? ?????????????? CADES.
                ?????????? ???????????? ?? ???????????? {notificationId}.xml ?? {notificationId}.xml.sig
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="notificationId" type="tns:guidType" />
      <xsd:element name="documentAndSignature" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="senderTypeType">
    <xsd:annotation>
      <xsd:documentation>
                ?????? ??????????????????: 1 ??? ??????????????????, ???????????????????????? ?????????????????????? ?????????? Web-????????????; 2 ??? ??????????????????, ???????????????????????? ?????????????????????? ?????????? ????????
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="guidType">
    <xsd:annotation>
      <xsd:documentation>???????????????????? ??????????????????????????. http://tools.ietf.org/html/rfc4122</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="uipType">
    <xsd:annotation>
      <xsd:documentation>
                ???????????????????? 12 ?? ?????????????????? ?????????? ???????????? ???? 19 ???????? 2012 ???????? N 383-?? "?? ???????????????? ?????????????????????????? ???????????????? ???????????????? ??????????????"
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\d]{1}[\d]{15}[\d\D]{9}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="StateType">
    <xsd:annotation>
      <xsd:documentation>
                ???????? ????????????.
                0 - ?????????????? ????????????.
                11 - ???? ???????????????? ?????????????????? ???? ??????????
                12 - ???? ???????????????? ???????????????? ????
                13 - ???????????? ??????????????/???????????????????? ??????????????????
                14 - ???????????? ??????????????/???????????????????? ????????????????
                99 - ?????????????????? ????????????
            </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string" />
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>